<h1>Add Members to Your <%= @group.name %> Group by Their User ID</h1>

<div class="row">
    <form action="/groups/<%= @group.id %>/addmembers" method="post">
        <ul id="membersList">
            <li><input name="member1" type="number" placeholder="1"></li><br>
            <li><input name="member2" type="number" placeholder="2"></li><br>
            <li><input name="member3" type="number" placeholder="3"></li><br>
            <li><input name="member4" type="number" placeholder="4"></li><br>
        </ul>
        <input type="submit" value="Add Members">
    </form>
</div>

<div id="right_side">
    <button id="addMember">+ Add Members</button>
</div>

<script>
    var idNum = 4
    $('#addMember').click(function(e){
        idNum += 1
        var listOfMembers = $("#membersList");
        listOfMembers.append("<li><input name= " + "member" + idNum + " type='number' placeholder='additional member id'>" + "</li><br>")
    })
</script>