<div id="content">


    <div id="container">

        <div id="table" class="activity-info">
            <h4 class="table-title">Create New Club : Step 1 of 2</h4>
            <div id="data">
                <div id="row">
                    <div class="column1">
                    <p>Club Name</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-club-name grayed-out">
                    </div>
                </div>
                <div id="row">
                    <div class="column1">
                    <p>Club Type</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-club-type grayed-out">
                    </div>
                </div>
                <div id="row">
                    <div class="column1">
                    <p>Monthly Payment Amount</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-payment-amnt grayed-out">
                    </div>
                </div>
                <div id="row">
                    <div class="column1">
                    <p>Monthly Payout Date</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-date grayed-out">
                    </div>
                </div>
                <div id="submit-row">
                    <div class="submit-row">
                        <div id="submit-button">Next Step</div><!-- end #submit-button -->
                    </div>
                </div>
        </div><!-- end #data -->
        </div><!-- end #table .activity-info -->






    </div><!-- end #container -->
</div>