
<body class="landing">


<div id="content">
	<div id="container">
    	<div id="main-content">
        	<div id="intro-text">
                <h1>DO MORE WITH LESS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum
    tempus efficitur. Vivamus arcu lacus, semper nec mauris vel,
    ullamcorper egestas eros. Donec fermentum dolor.</p>
    		</div><!-- end #intro-text -->
        </div>
    </div><!-- end #container -->
</div>

<footer>
<div id="container">
    
</div>


</footer>


</body>