<div id="content">


    <div id="container">


        <div id="table" class="account-info">
            <h4 class="table-title">Personal Info</h4>
            <div id="data">
                <div id="row">
                    <div class="column1">
                    <p>Full Name</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-name grayed-out">

                    </div>
                </div>
                <div id="row">
                    <div class="column1">
                    <p>Email</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-email grayed-out">

                    </div>
                </div>
                <div id="row">
                    <div class="column1">
                    <p>Password</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-password grayed-out">

                    </div>
                </div>

        </div><!-- end #data -->
        </div><!-- end #table .account-info -->

        <div id="table" class="activity-info">
            <h4 class="table-title">Bank Account Info</h4>
            <div id="data">
                <div id="row">
                    <div class="column1">
                    <p>Bank Name</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-bank-name grayed-out">
                    </div>
                </div>
                <div id="row">
                    <div class="column1">
                    <p>ACCT#</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-acctnum grayed-out">
                    </div>
                </div>
                <div id="row">
                    <div class="column1">
                    <p>Type of Account?</p>
                    </div>
                    <div class="fltrt">:</div>
                    <div class="input-text-field form-input-type-accnt grayed-out">
                    </div>
                </div>
                <div id="submit-row">
                    <div class="submit-row">
                        <div id="submit-button">Submit</div><!-- end #submit-button -->
                    </div>
                </div>
        </div><!-- end #data -->
        </div><!-- end #table .activity-info -->






    </div><!-- end #container -->
</div>